.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f2f1f5;
  height: 100vh;
}

.card {
  min-height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  height: 20vh;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.divider {
  width: 3vh;
  height: auto;
  display: inline-block;
}

.buttonSpan {
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.resultsAnswer {
  float: right;
}

.resultsValue {
  float: left;
}

.resultsHeader {
  font-weight: bold;
  text-decoration: underline;
}

.spinnerArea {
  color: red;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingBelow {
  padding-bottom: 10px;
}

.ownerActions {
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.generalPadding {
  padding-top: 20px;
  padding-bottom: 20px;
}